@model Web.Models.ViewModels.SurveyView

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SurveyView</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Language.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Language.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SurveyStatusId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SurveyStatusId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Banner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Banner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Introduction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Introduction)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Thanks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Thanks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Landing)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Landing)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MailingFile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MailingFile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDateUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDateUtc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateDateUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateDateUtc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
