@model Web.Data.Survey
@{
    ViewBag.Title = "Edit - Survey";
}
<div class="row">
    <div class="col-sm-3 col-xs-12 text-center">
        <a class="btn btn-block purple" href="#">Survey Options</a>
    </div>
    <div class="col-sm-3 col-xs-12 text-center">
        <a class="btn btn btn-block blue" href="javascript:canMove('/Surveys/Respondent/@Model.Id');">About Respondent</a>
    </div>
    <div class="col-sm-3 col-xs-12 text-center">
        <a class="btn btn btn-block blue" href="javascript:canMove('/Surveys/Relationship/@Model.Id');">Relationship</a>
    </div>
    <div class="col-sm-3 col-xs-12 text-center">
        <a class="btn btn btn-block blue" href="javascript:canMove('/Surveys/Preview/@Model.Id');">Preview Survey</a>
    </div>
</div>

<h3 class="font-green-haze">Survey - Edit</h3>

@using (Html.BeginForm("Edit", "Surveys", FormMethod.Post, new { id = "editForm", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <input type="hidden" value="false" name="isNext" id="isNext" />
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.UserId)
        @Html.HiddenFor(model => model.CreateDateUtc)
        @Html.HiddenFor(model => model.SurveyStatusId)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 text-right">
                @Html.ActionLink("Back to list", "Index", null, new { @class = "btn btn-default" })
                <input type="button" value="Save" class="btn btn-default" onclick="submitEditForm()" />
                <input type="button" value="Save/Next Step" class="btn btn-default" onclick="setNext()" />
            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-md-2">* Survey Name</span>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-md-2">* Language</span>
            <div class="col-md-10">
                @Html.DropDownList("LanguageId", null, htmlAttributes: new { @class = "form-control", @required = "required" })
                @Html.ValidationMessageFor(model => model.LanguageId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-md-2">* Mailing list</span>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-xs-10">
                        @Html.DropDownList("SurveyFileId", null, htmlAttributes: new { @class = "form-control", @required = "required" })
                    </div>
                    <div class="col-xs-2">
                        <button type="button" class="btn btn-block" data-toggle="modal" data-target="#addFileModal">
                            Manage
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-md-2">Banner File</span>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-xs-10">
                        @Html.HiddenFor(model => model.Banner)
                        @if (Model.Banner?.Length > 0)
                        {
                            <div class="row">
                                <div class="col-xs-4"><strong style="line-height: 30px;" id="BannerTitle">@Model.Banner</strong></div>
                                <div class="col-xs-8">
                                    <input type="file" class="form-control" name="BannerFile" id="BannerFile" accept="image/jpeg, image/png, image/gif" />
                                </div>
                            </div>
                        }
                        else
                        {
                            <input type="file" class="form-control" name="BannerFile" id="BannerFile" accept="image/jpeg, image/png, image/gif" />
                        }
                    </div>
                    <div class="col-xs-2">
                        <input type="button" class="btn btn-block" value="Clear" onclick="javascript: $('#BannerFile').val(''); $('#BannerTitle').html(''); $('#Banner').val('');" />
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-md-2">Survey introduction (optional)</span>
            <div class="col-md-10">
                <textarea rows="3" class="form-control ckeditor" name="Introduction" id="Introduction">@Model.Introduction</textarea>
            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-md-2">Thank you text (optional)</span>
            <div class="col-md-10">
                <textarea rows="3" class="form-control ckeditor" name="Thanks" id="Thanks">@Model.Thanks</textarea>
            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-md-2">Landing page text</span>
            <div class="col-md-10">
                <textarea rows="3" class="form-control ckeditor" name="Landing" id="Landing">@Model.Landing</textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 text-right">
                @Html.ActionLink("Back to list", "Index", null, new { @class = "btn btn-default" })
                <input type="button" value="Save" class="btn btn-default" onclick="submitEditForm()" />
                <input type="button" value="Save/Next Step" class="btn btn-default" onclick="setNext()" />
            </div>
        </div>
    </div>
}
<!-- Modal -->
<div class="modal fade" id="addFileModal" tabindex="-1" role="dialog" aria-labelledby="addFileLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="addFileLabel">Manage Mailing list</h4>
            </div>
            <div id="surveyFile" class="modal-body">
                @using (Ajax.BeginForm("MailingList", "Sheet", null, new AjaxOptions() { HttpMethod = "POST", OnSuccess = "successFile", OnBegin = "ShowLoader", OnComplete = "HideLoader", OnFailure = "HideLoader" }, new { @id = "file-options" }))
                {
                    @Html.Action("MailingList", "Sheet")
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="closeFileManager()">Close</button>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/unobtrusive")
    @Scripts.Render("~/bundles/slider")
    <script>
        function updateFile(id) {
            ShowLoader();
            var newLink = $('#newLink').val();

            var newName = $('#newName').val();

            $.post("@Url.Action("UpdateMailingList", "Sheet")", { id: id, link: newLink, name: newName }).done(function (data) {
                if (data.sucess) {
                    $.get("@Url.Action("MailingList","Sheet")").done(function (data) {
                        $("#surveyFile").html(data);
                    });
                }
                HideLoader();
            });

        }

        function closeFileManager() {
            window.location.reload();
        };

        function SubmitFile() {
            $('#file-options').submit();
        };
        function deleteFile(id) {
            if (confirm("Delete File #" + id + '?')) {
                ShowLoader();
                $.ajax({
                    type: "DELETE",
                    url: '/Sheet/DeleteMailingList/?id=' + id,
                    data: null
                }).success(function (data) {
                    if (!data.success) {
                        alert(data.Error);
                    } else {
                        $('.file-' + data.id).remove();
                    }
                }).always(function () {
                    HideLoader();
                });
            }
        };
        function useUserFile() {
            ShowLoader();
            $.ajax({
                type: "POST",
                url: '/Sheet/UserFile/?link=' + $('#fileLink').val() + '&name=' + $('#fileLinkName').val(),
                data: null
            }).success(function (data) {
                if (!data.success) {
                    alert('Error: ' + data.Error);
                } else {
                    $('#file-table').append($('<tr class="file-' + data.Data.Id + '"><td>' + data.Data.Name + '</td><td class="text-right"><a href="https://docs.google.com/spreadsheets/d/' + data.Data.Link + '/edit#gid=0" target="_blank">show</a> | <a href="#" onclick="deleteFile(' + data.Data.Id + ')">delete</a></td></tr>'));
                    $('#fileLink').val(''); $('#fileLinkName').val('');
                }
            }).always(function () {
                HideLoader();
            });
        };
        function successFile(data) {
            $('#fileName').val('');
            $('#file-table').append($('<tr class="file-' + data.Data.Id + '"><td>' + data.Data.Name + '</td><td class="text-right"><a href="https://docs.google.com/spreadsheets/d/' + data.Data.Link + '/edit#gid=0" target="_blank">show</a> | <a href="#" onclick="deleteFile(' + data.Data.Id + ')">delete</a></td></tr>'));
        };
        function setNext() {
            $('#isNext').val('true');
            submitEditForm();
        };

        function submitEditForm() {
            var valid = true;
            $('input[required], select[required]').each(function (i) {
                if ($(this).val() == null || $(this).val().length == 0) {
                    $(this).parent().addClass('has-error');
                    $(this).focus();
                    valid = false;
                }
            });
            if (valid) {
                $('#editForm').submit();
            }
        };

        function canMove(url) {
            if ($('#id').val() != "0" && $('#Name').val().length > 0) {
                Redirect(url);
            }
        };
    </script>
}
