@model Web.Models.ViewModels.RelationshipView

@{
    ViewBag.Title = "Relationship - Survey";
}

<div class="row">
    <div class="col-sm-3 col-xs-12 text-center">
        <a class="btn btn btn-block blue" href="/Surveys/Edit/@ViewBag.SurveyId">Survey Options</a>
    </div>
    <div class="col-sm-3 col-xs-12 text-center">
        <a class="btn btn btn-block blue" href="/Surveys/Respondent/@ViewBag.SurveyId">About Respondent</a>
    </div>
    <div class="col-sm-3 col-xs-12 text-center">
        <a class="btn btn-block purple" href="#">Relationship</a>
    </div>
    <div class="col-sm-3 col-xs-12 text-center">
        <a class="btn btn btn-block blue" href="/Surveys/Preview/@ViewBag.SurveyId">Preview Survey</a>
    </div>
</div>

<h3 class="font-green-haze">Survey - Relationships</h3>

<table class="table table-bordered table-hover">
    @foreach (var item in Model.RelationshipItems.OrderBy(x => x.OrderId))
    {
        <tr class="@(Model.SelectedItem?.Id == item.Id ? "active" : "" )">
            <td>
                @item.OrderId
            </td>
            <td>
                @Html.ActionLink("options", "Relationship", new { id = ViewBag.SurveyId, questions = false, relId = item.Id, node = false }, new { @class = "rel " + (Model.SelectedItem?.Id == item.Id && !ViewBag.IsQuestion && !ViewBag.IsNode ? "active" : "") }) |
                <span id="add-node-@item.Id" style="@(!item.AddNodes?"display:none;":"")">@Html.ActionLink("+ node ?", "Relationship", new { id = ViewBag.SurveyId, questions = false, relId = item.Id, node = true }, new { @class = "rel " + (ViewBag.IsNode && Model.SelectedItem?.Id == item.Id ? "active" : "") }) |</span>
                @Html.ActionLink("question", "Relationship", new { id = ViewBag.SurveyId, questions = true, relId = item.Id, node = false }, new { @class = "rel " + (ViewBag.IsQuestion && Model.SelectedItem?.Id == item.Id ? "active" : "") })
            </td>
            <td>
                @item.Name
            </td>
            <td>
                @item.NodeList
            </td>
            <td class="text-right">
                <a href="#" onclick="changeRelPosition(@item.Id, false)">up</a> | <a href="#" onclick="changeRelPosition(@item.Id, true)">down</a> | <a href="#" onclick="deleteRelationship(@item.Id, @item.SurveyId, @item.OrderId)">delete</a>
            </td>
        </tr>
    }
    <tr>
        <td colspan="5" class="text-right">
            <a href="#" onclick="addRelationship(@ViewBag.SurveyId)">Add relationship</a>
        </td>
    </tr>
</table>
<div class="form-horizontal">
    <input type="hidden" value="false" name="isNext" id="isNext" />
    <div class="form-group">
        <div class="col-xs-3">
            <a class="btn btn-default" href="#" onclick="saveRelOptions(false, true)">Save/Previous</a>
        </div>
        <div class="col-xs-9 text-right">
            @Html.ActionLink("Back to list", "Index", null, new { @class = "btn btn-default" })
            <input type="button" value="Save" class="btn btn-default" onclick="saveRelOptions(false, false)" />
            <input type="submit" value="Save/Next Step" class="btn btn-default" onclick="saveRelOptions(true, false)" />
        </div>
    </div>
    @if (ViewBag.IsNode || ViewBag.IsQuestion)
    {
        <div class="form-group">
            <div class="col-md-12 text-right">
                <button type="button" class="btn btn-sm purple" onclick="createNewQuestion(@Model.SelectedItem.Id)">
                    Insert question
                </button>
            </div>
        </div>
    }
</div>


@if (!ViewBag.IsQuestion && !ViewBag.IsNode)
{
    <div id="r-options">
        @Html.Partial("GetRelationshipItem", Model.SelectedItem)
    </div>
}

@if (!ViewBag.IsNode && ViewBag.IsQuestion)
{
    if (!Model.SelectedItem.Questions.Any())
    {
        <div class="form-group">
            <div class="col-xs-12">
                This section has no questions. Please click button to add the first question.
            </div>
        </div>
        @Html.Partial("RQuestions", Model.SelectedItem.Questions.OrderBy(t => t.OrderId).ToList(), new ViewDataDictionary(ViewData) { { "region", "Scripts" }, { "Edit", "True" } })
    }
    else
    {
        <div class="form-group">
            @Html.Partial("RQuestions", Model.SelectedItem.Questions.OrderBy(t => t.OrderId).ToList(), new ViewDataDictionary(ViewData) { { "region", "Html" }, { "Edit", "True" } })
            @Html.Partial("RQuestions", Model.SelectedItem.Questions.OrderBy(t => t.OrderId).ToList(), new ViewDataDictionary(ViewData) { { "region", "Scripts" }, { "Edit", "True" } })
        </div>
    }

}
@if (ViewBag.IsNode && !ViewBag.IsQuestion)
{
    if (!Model.SelectedItem.NodeQuestions.Any())
    {
        <div class="form-group">
            <div class="col-xs-12">
                This section has no questions. Please click button to add the first question.
            </div>
        </div>
        @Html.Partial("NQuestions", Model.SelectedItem.NodeQuestions.OrderBy(t => t.OrderId).ToList(), new ViewDataDictionary(ViewData) { { "region", "Scripts" }, { "Edit", "True" } })
    }
    else
    {
        <div class="form-group">
            @Html.Partial("NQuestions", Model.SelectedItem.NodeQuestions.OrderBy(t => t.OrderId).ToList(), new ViewDataDictionary(ViewData) { { "region", "Html" }, { "Edit", "True" } })
            @Html.Partial("NQuestions", Model.SelectedItem.NodeQuestions.OrderBy(t => t.OrderId).ToList(), new ViewDataDictionary(ViewData) { { "region", "Scripts" }, { "Edit", "True" } })
        </div>
    }
}
<div class="form-horizontal">
    <input type="hidden" value="false" name="isNext" id="isNext" />
    <div class="form-group">
        <div class="col-xs-3">
            <a class="btn btn-default" href="#" onclick="saveRelOptions(false, true)">Save/Previous</a>
        </div>
        <div class="col-xs-9 text-right">
            @Html.ActionLink("Back to list", "Index", null, new { @class = "btn btn-default" })
            <input type="button" value="Save" class="btn btn-default" onclick="saveRelOptions(false, false)" />
            <input type="submit" value="Save/Next Step" class="btn btn-default" onclick="saveRelOptions(true, false)" />
        </div>
    </div>
</div>
<!-- Modals -->
<div class="modal fade" id="addQuestionModal" tabindex="-1" role="dialog" aria-labelledby="addQuestionLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="addQuestionLabel">Add Question</h4>
            </div>
            <div class="modal-body">
                @using (Ajax.BeginForm(!ViewBag.IsNode && ViewBag.IsQuestion ? "Relationship" : "RelationshipN", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "sucessQuestion", OnBegin = "ShowLoader", OnComplete = "HideLoader", OnFailure = "HideLoader" }, new { @id = "question-options" }))
                {
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn purple" onclick="addQuestion()">Add</button>
            </div>
        </div>
    </div>
</div>
@section scripts {
    @Scripts.Render("~/bundles/unobtrusive")
    @Scripts.Render("~/bundles/slider")

    <script type="text/javascript">
        function checkNode(el, id) {
            var addNode = $(el).prop('checked');
            ShowLoader();
            $.ajax({
                type: "POST",
                url: '/Surveys/AddNode/?id=' + id + '&addNode=' + addNode,
                data: null
            }).success(function() {
                if ($(el).prop('checked')) {
                    $('#add-node-' + id).show();
                } else {
                    $('#add-node-' + id).hide();
                }
            }).always(function () {
                HideLoader();
            });
        }

        function saveRelOptions(isNext, isBack) {
            $('#getRelItemForm #isNext').val(isNext);
            $('#getRelItemForm #isBack').val(isBack);
            $('#getRelItemForm #GeneratorName').val(CKEDITOR.instances['GeneratorName'].getData());
            $('#getRelItemForm').submit();
        }

        function addQuestion() {
            $('#question-options #Text').val(CKEDITOR.instances['Text'].getData());
            $('#question-options #Introducing').val(CKEDITOR.instances['Introducing'].getData());

            var valid = true;
            $('#question-options input[required], #question-options select[required], #question-options textarea.required').each(function (i) {
                if ($(this).val() == null || $(this).val().length == 0) {
                    $(this).parent().addClass('has-error');
                    $(this).focus();
                    if ($(this).prop("tagName").toLowerCase() == "textarea") {
                        $('#cke_' + $(this).attr('id')).attr('style', 'border-color: #b94a48');
                        $('#cke_' + $(this).attr('id')).focus();
                    }
                    valid = false;
                }
                else {
                    $(this).parent().removeClass('has-error');
                    if ($(this).prop("tagName").toLowerCase() == "textarea") {
                        $('#cke_' + $(this).attr('id')).attr('style', '');
                    }
                }
            });

            if (!$('input[name="FormatCode"]').prop('checked')) {
                $('.format-group-section').css('color', '#b94a48');
            } else {
                $('.format-group-section').css('color', 'initial');
            }
            if (valid) {
                $('#question-options').submit();
            }
        }
        function addRelationship(id) {
            ShowLoader();
            $.ajax({
                type: "POST",
                url: '/Surveys/AddRelationsip/?id=' + id,
                data: null
            }).success(function (data) {
                if (!data.success) {
                    alert('Error:' + data.error);
                } else {
                    Redirect('/Surveys/Relationship/' + data.id + '/?questions=false&relId=' + data.relId);
                }
            }).always(function () {
                HideLoader();
            });
        }
        function deleteRelationship(id, suId, roid) {
            if (confirm("Delete Relationship #" + roid)) {
                ShowLoader();
                $.ajax({
                    type: "POST",
                    url: '/Surveys/DeleteRelationsip/?id=' + id,
                    data: null
                }).success(function (data) {
                    if (!data.success) {
                        alert('Error:' + data.error);
                    } else {
                        Redirect('/Surveys/Relationship/' + suId + '/?questions=false');
                    }
                }).always(function () {
                    HideLoader();
                });
            }
        }

        function changeRelPosition(id, isInc) {
            ShowLoader();
            $.ajax({
                type: "POST",
                url: '/Surveys/ChangeRelationshipPosition/?id=' + id + '&isInc=' + isInc,
                data: null
            }).success(function (data) {
                if (!data.success) {
                    alert('Error:' + data.error);
                } else {
                    window.location.reload();
                }
            }).always(function () {
                HideLoader();
            });
        }
        //node list
        function closeFileManager() {
            window.location.reload();
        };
        function SubmitFile() {
            $('#file-options').submit();
        };
        function deleteFile(id) {
            if (confirm("Delete File #" + id)) {
                ShowLoader();
                $.ajax({
                    type: "POST",
                    url: '/Sheet/DeleteMailingList/?id=' + id,
                    data: null
                }).success(function (data) {
                    if (!data.success) {
                        alert('Error: ' + data.Error);
                    } else {
                        $('.file-' + data.id).remove();
                    }
                }).always(function () {
                    HideLoader();
                });
            }
        };
        function useUserFile() {
            ShowLoader();
            $.ajax({
                type: "POST",
                url: '/Sheet/UserFile/?link=' + $('#fileLink').val() + '&name=' + $('#fileLinkName').val(),
                data: null
            }).success(function (data) {
                if (!data.success) {
                    alert('Error: ' + data.Error);
                } else {
                    $('#file-table').append($('<tr class="file-' + data.Data.Id + '"><td>' + data.Data.Name + '</td><td class="text-right"><a href="https://docs.google.com/spreadsheets/d/' + data.Data.Link + '/edit#gid=0" target="_blank">show</a> | <a href="#" onclick="deleteFile(' + data.Data.Id + ')">delete</a></td></tr>'));
                    $('#fileLink').val(''); $('#fileLinkName').val('');
                }
            }).always(function () {
                HideLoader();
            });
        };
        function successFile(data) {
            $('#fileName').val('');
            $('#file-table').append($('<tr class="file-' + data.Data.Id + '"><td>' + data.Data.Name + '</td><td class="text-right"><a href="https://docs.google.com/spreadsheets/d/' + data.Data.Link + '/edit#gid=0" target="_blank">show</a> | <a href="#" onclick="deleteFile(' + data.Data.Id + ')">delete</a></td></tr>'));
        };
    </script>
}