@model Web.Models.DTO.RespondentModel

@{
    ViewBag.Title = "Respondent - Survey";
}

<div class="row">
    <div class="col-sm-3 col-xs-12 text-center">
        <a class="btn btn btn-block blue" href="/Surveys/Edit/@Model.SurveyId">Survey Options</a>
    </div>
    <div class="col-sm-3 col-xs-12 text-center">
        <a class="btn btn-block purple" href="#">About Respondent</a>
    </div>
    <div class="col-sm-3 col-xs-12 text-center">
        <a class="btn btn btn-block blue" href="/Surveys/Relationship/@Model.SurveyId">Relationship</a>
    </div>
    <div class="col-sm-3 col-xs-12 text-center">
        <a class="btn btn btn-block blue" href="/Surveys/Preview/@Model.SurveyId">Preview Survey</a>
    </div>
</div>

<h3 class="font-green-haze">Survey - Respondent</h3>

<div class="form-horizontal">
    <input type="hidden" value="false" name="isNext" id="isNext" />
    <div class="form-group">
        <span class="text-right col-xs-4">
            Question position<br />

        </span>
        <div class="col-xs-2 text-right">
            <label>
                <input type="radio" name="IsAfterSurvey" value="false" onchange="updatePosition(@Model.SurveyId, false)" @(!ViewBag.IsAfter ? "checked" : "") />
                Start of Survey
            </label>

        </div>
        <div class="col-xs-6">
            <label>
                <input type="radio" name="IsAfterSurvey" value="true" onchange="updatePosition(@Model.SurveyId, true)" @(ViewBag.IsAfter ? "checked" : "") />
                End of Survey
            </label>
        </div>
        <div class="col-xs-6 text-right">
            <small>Edit questions that appear at the start of the survey</small>
        </div>
        <div class="col-xs-6">
            <small>Edit questions that appear at the end of the survey</small>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-3">
            <a class="btn btn-default" href="/Surveys/Edit/@Model.SurveyId">Previous</a>
        </div>
        <div class="col-xs-9 text-right">
            @Html.ActionLink("Back to list", "Index", null, new { @class = "btn btn-default" })
            <a class="btn btn-default" href="/Surveys/Relationship/@Model.SurveyId">Next Step</a>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12 text-right">
            <button type="button" class="btn btn-sm purple" onclick="createNewQuestion(@Model.Id, '@Model.IsAfterSurvey.ToString()')">
                Insert question
            </button>
        </div>
    </div>

    @if (!Model.Questions.Any())
    {
        <div class="form-group">
            <div class="col-xs-12">
                This section has no questions.Please click button to add the first question.
            </div>
        </div>
        @Html.Partial("Questions", Model.Questions.OrderBy(t => t.OrderId).ToList(), new ViewDataDictionary(ViewData) { { "region", "Scripts" }, { "Edit", "True" } })

    }
    else
    {
        @Html.Partial("Questions", Model.Questions.OrderBy(t => t.OrderId).ToList(), new ViewDataDictionary(ViewData) { { "region", "Html" }, { "Edit", "True" } })
        @Html.Partial("Questions", Model.Questions.OrderBy(t=>t.OrderId).ToList(), new ViewDataDictionary(ViewData) { { "region", "Scripts" }, { "Edit", "True" } })
    }
    <div class="form-group">
        <div class="col-xs-3">
            <a class="btn btn-default" href="/Surveys/Edit/@Model.SurveyId">Previous</a>
        </div>
        <div class="col-xs-9 text-right">
            @Html.ActionLink("Back to list", "Index", null, new { @class = "btn btn-default" })
            <a class="btn btn-default" href="/Surveys/Relationship/@Model.SurveyId">Next Step</a>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addQuestionModal" tabindex="-1" role="dialog" aria-labelledby="addQuestionLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="addQuestionLabel">Add Question</h4>
            </div>
            <div class="modal-body">
                @using (Ajax.BeginForm("Respondent", null, new AjaxOptions() { HttpMethod = "POST", OnSuccess = "sucessQuestion", OnBegin = "ShowLoader", OnComplete = "HideLoader", OnFailure = "HideLoader" }, new { @id = "question-options" }))
                {
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn purple" onclick="addQuestion()">Add</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/unobtrusive")
    @Scripts.Render("~/bundles/slider")

    <script type="text/javascript">
        function addQuestion() {
            $('#question-options #Text').val(CKEDITOR.instances['Text'].getData());
            $('#question-options #Introducing').val(CKEDITOR.instances['Introducing'].getData());
            var valid = true;
            $('#question-options input[required], #question-options select[required], #question-options textarea.required').each(function (i) {
                if ($(this).val() == null || $(this).val().length == 0) {
                    $(this).parent().addClass('has-error');
                    $(this).focus();
                    if($(this).prop("tagName").toLowerCase() == "textarea") {
                        $('#cke_' + $(this).attr('id')).attr('style', 'border-color: #b94a48');
                        $('#cke_' + $(this).attr('id')).focus();
                    }
                    valid = false;
                }
                else {
                    $(this).parent().removeClass('has-error');
                    if($(this).prop("tagName").toLowerCase() == "textarea") {
                        $('#cke_' + $(this).attr('id')).attr('style', '');
                    }
                }
            });

            if(!$('input[name="QuestionFormat.Code"]').prop('checked')) {
                $('.format-group-section').css('color', '#b94a48');
            } else {
                $('.format-group-section').css('color', 'initial');
            }
            if(valid) {
                $('#question-options').submit();
            }
        }
        function updatePosition(id, value) {
            Redirect('/Surveys/Respondent/' + id + '/?isAfter=' + value);
        }
    </script>
}
