@model List<DynamicSurvey.Server.DAL.Entities.SurveyReport>
    @{
        ViewBag.Title = "Answers";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }


    <div class="surveyDetailsHeader">
        <h2>@ViewBag.Title</h2>
    </div>

    <table class="commonTable">
        @foreach (var surveyReport in Model)
        {
            <tr>
                <th>
                    @Html.Label(surveyReport.Enumerator.Username)
                </th>
                <th>
                    @Html.Label(surveyReport.Respondent.Username)
                </th>
                <th>
                    @Html.Label(surveyReport.Report.Language)
                </th>
                <th>
                    @Html.Label(surveyReport.Report.Title)
                </th>
            </tr>
            <tr>
                <td colspan="100%">
                    <table class="commonTable">
                        @foreach (var reportPage in surveyReport.Report.Pages)
                        {
                            <tr>
                                <th> @Html.Label(reportPage.Title)</th>
                            </tr>
                            <tr>
                                <td>
                                    <table class="answerTable">
                                        <tr>
                                            <th>
                                                Question
                                            </th>
                                            <th>
                                                Answer
                                            </th>
                                        </tr>
                                        @foreach (var field in reportPage.Fields)
                                        {
                                            <tr>
                                                <td> @Html.Label(field.Label)</td>
                                                <td> @Html.Label(field.UserAnswer)</td>


                                            </tr>
                                        }
                                    </table>
                                </td>
                            </tr>


                        }
                    </table>
                </td>
            </tr>

        }
    </table>

