@model List<Web.Models.DTO.NQuestionModel>

@if (Model.Any())
{
    for (int j = 0; j < Model.Count; j++)
    {
        <hr class="question" />
        if (!string.IsNullOrEmpty(Model[j].Introducing))
        {
            <div class="form-group question">
                <div class="col-md-12">@Html.Raw(Model[j].Introducing)</div>
            </div>
        }
        <div class="form-group question">
            <div class="col-md-12">
                <b>
                    <span class="order-id">@Model[j].OrderId.@(Model[j].IsCompulsory ? " *" : "")</span> @Html.Raw(Model[j].Text)
                </b>
            </div>
            <div class="col-md-12">
                <input id="userCompanyNumber-@ViewData["id"]" type="hidden" value="0"/>
                @Html.Hidden($"{ViewData["base"]}.NQuestionAnswers[*{j}].QuestionId", Model[j].Id)
                @Html.Hidden($"{ViewData["base"]}.NQuestionAnswers[*{j}].CompanyName", ViewData["company"])
                @if (Model[j].QuestionFormat.Code == "text")
                {
                    if (Model[j].TextRowsCount > 1)
                    {
                        @Html.TextArea($"{ViewData["base"]}.NQuestionAnswers[*{j}].Values[0]", null, new {@class = $"form-control {(Model[j].IsCompulsory ? "required" : "")}", @rows = Model[j].TextRowsCount})
                        @*<textarea name="q-@Model[j].Id" rows="@Model[j].TextRowsCount" class="form-control @(Model[j].IsCompulsory ? "required" : "")"></textarea>*@
                    }
                    else
                    {
                        @Html.TextBox($"{ViewData["base"]}.NQuestionAnswers[*{j}].Values[0]", null, new {@class = $"form-control {(Model[j].IsCompulsory ? "required" : "")}"})

                        @*<input type="text" name="@(ViewData["base"]).NQuestionAnswers[@j].Values[0]" value="this is text" class="form-control" @(Model[j].IsCompulsory ? "required" : "") />*@
                    }
                }
                else if (Model[j].QuestionFormat.Code == "choice_across")
                {

                    for (int k = 0; k < Model[j].Answers.Count; k++)
                    {

                        <label>
                            @Model[j].Answers[k].Text <br/>
                            @if (Model[j].IsMultiple.HasValue && Model[j].IsMultiple.Value)
                            {
                                <input type="checkbox" name="@($"{ViewData["base"]}.NQuestionAnswers[*{j}].Values[{k}]")" value="@Model[j].Answers[k].Value" @(Model[j].Answers[k].IsDefault ? "checked" : "")/>
                                @*@Html.CheckBox($"{ViewData["base"]}.NQuestionAnswers[*{j}].Values[{k}]", Model[j].Answers[k].IsDefault, new { value = Model[j].Answers[k].Value })*@
                            }
                            else
                            {
                                @Html.RadioButton($"{ViewData["base"]}.NQuestionAnswers[*{j}].Values[0]", Model[j].Answers[k].Value, Model[j].Answers[k].IsDefault)
                                @*<input type="radio" name="q-@Model[j].Id" value="@answer.Value" @(answer.IsDefault ? "checked" : "") />*@
                            }
                        </label>
                    }

                    if (Model[j].IsAnnotation.HasValue && Model[j].IsAnnotation.Value)
                    {
                        @Html.TextArea($"{ViewData["base"]}.NQuestionAnswers[*{j}].Anotation", null, new {rows = 2, @class = $"form-control {(Model[j].IsCompulsory ? "required" : "")}"})
                        @*<textarea name="qa-@Model[j].Id" rows="2" class="form-control @(Model[j].IsCompulsory ? "required" : "")"></textarea>*@
                    }
                }
                else if (Model[j].QuestionFormat.Code == "choice_down")
                {
                    for (int k = 0; k < Model[j].Answers.Count; k++)
                    {
                        <label>
                            @if (Model[j].IsMultiple.HasValue && Model[j].IsMultiple.Value)
                            {
                                @*@Html.CheckBox($"{ViewData["base"]}.NQuestionAnswers[*{j}].Values[{k}]", Model[j].Answers[k].IsDefault, new { value = Model[j].Answers[k].Value })*@
                                <input type="checkbox" name="@($"{ViewData["base"]}.NQuestionAnswers[*{j}].Values[{k}]")" value="@Model[j].Answers[k].Value" @(Model[j].Answers[k].IsDefault ? "checked" : "")/>
                            }
                            else
                            {
                                @Html.RadioButton($"{ViewData["base"]}.NQuestionAnswers[*{j}].Values[0]", Model[j].Answers[k].Value, Model[j].Answers[k].IsDefault)
                                @*<input type="radio" name="q-@Model[j].Id" value="@answer.Value" @(answer.IsDefault ? "checked" : "") />*@
                            }
                            @*@answer.Text*@
                            @Model[j].Answers[k].Text
                        </label><br/>
                    }
                }
                else if (Model[j].QuestionFormat.Code == "drop_down")
                {
                    @Html.DropDownList($"{ViewData["base"]}.NQuestionAnswers[*{j}].Values[0]", new SelectList(Model[j].Answers, "Value", "Text", Model[j].Answers.Any(t => t.IsDefault) ? Model[j].Answers.FirstOrDefault(t => t.IsDefault).Value : null), new {@class = $"form-control {(Model[j].IsCompulsory ? "required" : "")}"})
                }
                else if (Model[j].QuestionFormat.Code == "matrix")
                {
                    <table>
                        <tr>
                            <th></th>
                            @foreach (var answer in Model[j].Answers)
                            {
                                <th>
                                    @answer.Text
                                </th>
                            }
                        </tr>
                        @{
                            var rows = Model[j].Rows.Split(',');
                        }
                        @for (int i = 0; i < rows.Length; i++)
                        {
                            <tr>
                                <td>@rows[i]</td>
                                @for (int k = 0; k < Model[j].Answers.Count; k++)
                                {
                                    <td>
                                        @Html.RadioButton($"{ViewData["base"]}.NQuestionAnswers[*{j}].Values[{i}]", Model[j].Answers[k].Value, Model[j].Answers[k].IsDefault)
                                        @*<input type="radio" name="q-@(Model[j].Id)=a-@i" value="@Model[j].Answers[k].Value" @(Model[j].Answers[k].IsDefault ? "checked" : "")/>*@
                                    </td>
                                }
                            </tr>
                        }
                    </table>
                }
                else if (Model[j].QuestionFormat.Code == "slider")
                {
                    <div class="row">
                        @Html.Hidden($"{ViewData["base"]}.NQuestionAnswers[*{j}].Values[0]", Model[j].ValueMax)
                        <div class="col-xs-2">@Model[j].TextMin</div>
                        <div class="col-xs-3">
                            <div name="@($"{ViewData["base"]}.NQuestionAnswers[*{j}].Slider")" data-slider-value="@Model[j].ValueMax" data-slider-min="@Model[j].ValueMin" data-slider-max="@Model[j].ValueMax" data-slider-step="@(Model[j].Resolution == 0 ? 1 : Model[j].Resolution)" data-slider-tooltip="show"
                                 @((Model[j].IsShowValue.HasValue && Model[j].IsShowValue.Value) ? "" : "data-slider-tooltip='hide'")></div>
                        </div>
                        <div class="col-xs-2">@Model[j].TextMax</div>
                        <div class="col-xs-5">&nbsp;&nbsp;&nbsp;&nbsp;</div>
                    </div>
                }
            </div>
        </div>
    }
}