@model Web.Models.ViewModels.PreviewView
@{
    var region = ViewData["region"] as string;
}

@if (region == "Html")
{
    <h3 class="font-green-haze">Survey - Preview</h3>
    foreach (var item in Model.Items.Select(c => c.Companies).Where(x => !string.IsNullOrEmpty(x.Error)))
    {
        <div class="col-xs-12">
            <p class="text-danger"><b>@item.RelationshipName:</b> @Html.Raw(item.Error)</p>
        </div>
    }

    if (!string.IsNullOrEmpty(Model.Banner))
    {
        <div class="row">
            <div class="col-xs-12">
                <div class="embed-responsive embed-responsive-16by9">
                    <img class="embed-responsive-item col-xs-12" src="@Url.Content("~/Content/files/banners/" + Model.Banner)" />
                </div>
            </div>
        </div>
    }

    <div class="col-xs-12">
        <h2 class="font-green-haze">@Model.SurveyName</h2>
    </div>
    @*<form id="saveData" method="post">*@
    <div id="rootwizard">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <ul>
                        <li><a href="#tabStart" data-toggle="tab">Start</a></li>
                        @if (Model.AboutYouBefore != null && Model.AboutYouBefore.Questions.Any())
                        {
                            <li><a href="#tabAbout" data-toggle="tab">About you</a></li>
                        }

                        @foreach (var item in Model.Items)
                        {
                            <li>
                                <a href="#tabRelation@(item.Id)" data-toggle="tab">
                                    @item.Name
                                </a>
                            </li>
                        }

                        <li><a href="#tabFinish" data-toggle="tab">Finish</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div class="tab-pane" id="tabStart">
                <div class="col-xs-12">
                    @Html.Raw(Model.IntroductionText)
                </div>
            </div>
            @if (Model.AboutYouBefore != null && Model.AboutYouBefore.Questions.Any())
                {
                <div class="tab-pane" id="tabAbout">
                    <div class="col-xs-12 qdiv">
                        <h5 class="text-primary">Please answer the following questions about yourself:</h5>
                        <small><b>Note:</b> Questions marked with '*' are compulsory.</small>
                        <br />
                        @Html.HiddenFor(p => p.AboutYouBefore.Id)
                        @Html.Partial("Questions", Model.AboutYouBefore.Questions, new ViewDataDictionary { { "base", "AboutYouBefore" } })
                    </div>
                </div>
            }
            @for (int i = 0; i < Model.Items.Count; i++)
                {
                <div class="tab-pane" id="tabRelation@(Model.Items[i].Id)">
                    <input type="hidden" name="canNext" value="0" />
                    <div class="row col-xs-12">
                        @if (!string.IsNullOrEmpty(Model.Items[i].GeneratorName))
                        {
                            <div class="col-xs-12">
                                @Html.Raw(Model.Items[i].GeneratorName)
                            </div>
                        }
                        <div class="col-xs-6">
                            <div class="well">
                                <div>
                                    @if (Model.Items[i].UseDDSearch)
                                    {
                                        <div class="pull-right">
                                            <span>Search:</span>
                                            <input type="text" class="form-control-sm search-companies" data-id="@Model.Items[i].Id" />
                                            <button type="button" class="btn purple" onclick="resetSearch()">Reset</button>
                                        </div>
                                    }
                                    <b>Companies</b>
                                    <hr />
                                </div>
                                <div class="left-companies-@(Model.Items[i].Id)">
                                    @if (!string.IsNullOrEmpty(Model.Items[i].Companies.Error))
                                    {
                                        <div class="text-danger">@Html.Raw(Model.Items[i].Companies.Error)</div>
                                    }

                                    @for (int k = 0; k < Model.Items[i].Companies.Names.Count; k++)
                                    {
                                        <div class="company-prew" style="cursor: pointer" onclick="CompanyClick(this, @Model.Items[i].Id, '@($"Items[{i}].Companies.Names[{k}].Checked")')">
                                            @Html.HiddenFor(p => p.Items[i].Companies.Names[k].Checked)
                                            <i class="fa fa-plus-circle"></i>
                                            <i class="fa fa-minus-circle hide"></i> @Model.Items[i].Companies.Names[k].Name
                                        </div>
                                    }
                                </div>
                                @if (Model.Items[i].AllowSelectAllNodes)
                                {
                                    <div>
                                        <hr />
                                        <div class="company-prew" style="cursor:pointer" onclick="AllCompanyClick(@Model.Items[i].Id, 1)"><i class="fa fa-minus-circle"></i> Add all</div>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="well">
                                <div>
                                    @if (Model.Items[i].AddNodes)
                                    {
                                        <div class="pull-right">
                                            <input type="text" class="form-control-sm" id="add-node-@Model.Items[i].Id" />
                                            <button type="button" class="btn purple" onclick="AddNode(@(Model.Items[i].AddNodes ? 1 : 0), @(Model.Items[i].HideAddedNodes ? 1 : 0), @Model.Items[i].Id)">Add</button>
                                        </div>
                                    }
                                    <b>Selection</b>
                                    <hr />
                                </div>
                                <div class="right-companies-@(Model.Items[i].Id)"></div>
                                @if (Model.Items[i].AllowSelectAllNodes)
                                {
                                    <div>
                                        <hr />
                                        <div class="company-prew" style="cursor:pointer" onclick="AllCompanyClick(@Model.Items[i].Id, 0)"><i class="fa fa-plus-circle"></i> Remove all</div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 qdiv">
                            @Html.Hidden($"Items[{i}].Id", Model.Items[i].Id)
                            @Html.Partial("RQuestions", Model.Items[i].Questions, new ViewDataDictionary { { "base", $"Items[{i}]" } })
                        </div>
                    </div>
                    @if (Model.Items[i].AddNodes)
                    {
                        <div class="modal fade" id="addNodeModal-@Model.Items[i].Id" tabindex="-1" role="dialog" aria-labelledby="addNodeLabel-@Model.Items[i].Id">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="addNodeLabel-@Model.Items[i].Id">Please answer the following questions about: <span id="name-@Model.Items[i].Id"></span></h4>
                                    </div>
                                    <div class="modal-body">
                                        @if (Model.Items[i].NodeQuestions.Any())
                                        {
                                            <div id="NQResult" style="display: none"></div>
                                            @Html.Partial("NQuestions", Model.Items[i].NodeQuestions, new ViewDataDictionary{{"base", $"Items[{i}]"}, {"id", Model.Items[i].Id} })
                                        }
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="RemoveNode(@Model.Items[i].Id)">Cancel</button>
                                        <button type="button" class="btn purple" data-dismiss="modal" onclick="SaveNode(@Model.Items[i].Id, @i)">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
            <div class="tab-pane" id="tabFinish">
                @if (Model.AboutYouAfter != null && Model.AboutYouAfter.Questions.Any())
                {
                    <div class="col-xs-12 after-question qdiv">
                        <h5 class="text-primary">Please answer the following questions about yourself:</h5>
                        <small><b>Note:</b> Questions marked with '*' are compulsory.</small>
                        <br />
                        @Html.Partial("Questions", Model.AboutYouAfter.Questions)
                    </div>
                }
                <div class="col-xs-12 thanks-text" style="display:none;">
                    @Html.Raw(Model.ThanksText)
                </div>
            </div>
            <br />
            <ul class="pager wizard">
                <li class="previous"><a href="javascript:;" class="btn btn-primary blue ">Previous</a></li>
                <li class="next"><a href="javascript:;" class="btn btn-primary blue ">Next</a></li>
                <button type="submit">Submit</button>
                <li class="finish"><a href="javascript:;" class="btn btn-primary blue ">Finish</a></li>
            </ul>
        </div>
    </div>
    @*</form>*@

}

@if (region == "Scripts")
{
    @Scripts.Render("~/bundles/slider")

    <script>
        function CompanyClick(el, id, name) {
            if($(el).parent().hasClass('left-companies-' + id)) {
                $(el).find('.fa-plus-circle').addClass('hide');
                $(el).find('.fa-minus-circle').removeClass('hide');
                $('.right-companies-' + id).append($(el));
                $(el).find('input[name="' + name + '"]').first().val(true);
            } else {
                $(el).find('.fa-plus-circle').removeClass('hide');
                $(el).find('.fa-minus-circle').addClass('hide');
                $('.left-companies-' + id).append($(el));
                $(el).find('input[name="' + name + '"]').first().val(false);
            }
        };
        function AllCompanyClick(id, action) {
            if(action == 1) {
                $('.left-companies-' + id + ' .company-prew').each(function(i) {
                    $(this).find('.fa-plus-circle').addClass('hide');
                    $(this).find('.fa-minus-circle').removeClass('hide');
                    $('.right-companies-' + id).append($(this));
                });
            } else {
                $('.right-companies-' + id + ' .company-prew').each(function(i) {
                    $(this).find('.fa-plus-circle').removeClass('hide');
                    $(this).find('.fa-minus-circle').addClass('hide');
                    $('.left-companies-' + id).append($(this));
                });
            }
        };
        function AddNode(isQ, isH, id) {
            var node = $('#add-node-' + id).val();
            if(node.trim().length > 0) {
                var companyName = node.trim().split(' ')[0];
                //if(!isH) {
                $('.right-companies-' + id).append($('<div class="company-prew" data-name=' + companyName + ' style="cursor:pointer" onclick="CompanyClick(this, ' + id + ')"><i class="fa fa-plus-circle hide"></i><i class="fa fa-minus-circle"></i> ' + node + '</div>'));
                //}

                if(isQ == 1) {
                    $('#addNodeModal-' + id).modal('show');
                    $('#addNodeModal-' + id).on('shown.bs.modal', function () {
                        setTimeout(() => ($('.modal-body div[id*="slider"]').slider()), 1000);
                    });
                    $('input[name*="NQuestionAnswers[*"]').filter('[name*=".CompanyName"]').val(companyName);
                    $('#name-' + id).attr('data-find', companyName);
                    $('#name-' + id).html(node);
                }
            }
            $('#add-node-' + id).val('');
        };

        function SaveNode(id, index) {
            var answerIndex = parseInt($('#userCompanyNumber-' + id).val());

            var fields = $('[name*="Items[' + index + '].NQuestionAnswers"]');

            var result = [];
            fields.each(function(i, e) {
                var input = $(e).attr('name');

                var charIndex = input.indexOf('*');

                var number = parseInt(input.charAt(charIndex + 1)) + answerIndex;
                var resName = input.replaceAt(charIndex, number.toString());

                var item = $('<input>').attr({
                    type: 'hidden',
                    name: resName,
                    value: $(e).val()
                });
                result.push(item);
                console.log(item);
            });
            $.each(result,
                function(i,e) {
                    $("#NQResult").append(e);
                });
            console.log(result);
            $('#userCompanyNumber-' + id).val(answerIndex + fields.not('[name*=".QuestionId"]').not('[name*=".CompanyName"]').length);

        }
        String.prototype.replaceAt=function(index, character) {
            return this.substr(0, index) + character + this.substr(index+character.length+1);
        }

        function RemoveNode(id) {
            $('.right-companies-' + id + ' .company-prew[data-name="' + $('#name-' + id).attr('data-find') + '"]').remove();
        };
        function resetSearch() {
            $('.search-companies').val('').keyup();
        }
        $(document).ready(function () {
            $('#rootwizard').bootstrapWizard({
                onNext: function(tab, navigation, index) {
                    var valid = true;
                    $(tab.find('a').attr('href') + ' input[required], #question-options select[required], '
                        + tab.find('a').attr('href')+' textarea.required').each(function (i) {
                            if ($(this).val() == null || $(this).val().length == 0) {
                                $(this).parent().addClass('has-error');
                                $(this).focus();
                                if($(this).prop("tagName").toLowerCase() == "textarea") {
                                    $('#cke_' + $(this).attr('id')).attr('style', 'border-color: #b94a48');
                                    $('#cke_' + $(this).attr('id')).focus();
                                }
                                valid = false;
                            }
                            else {
                                $(this).parent().removeClass('has-error');
                                if($(this).prop("tagName").toLowerCase() == "textarea") {
                                    $('#cke_' + $(this).attr('id')).attr('style', '');
                                }
                            }
                        });
                    if(!valid) { return false;}
                },
                onTabShow: function (tab, navigation, index) {
                    setTimeout(() => (
                        //$(tab.find('a').attr('href')).find('.qdiv div[id*="slider"]').slider()
                        $(tab.find('a').attr('href')).find('.qdiv div[name*=".Slider"]').slider().on('slide',
                            function(value) {
                                var name = $(value.currentTarget).attr('name');
                                var names = name.substring(0, name.lastIndexOf('.'))+'.Values[0]';
                                $("input[name=\'"+names+"\']").val(value.value);
                            })
                        ), 1000);

                    //.qdiv div[id*="slider"]
                    //$("#amount").val($('.qdiv div[id*="slider"]').slider("value"));
                    if(tab.find('a').attr('href').indexOf('Relation') != -1)
                    {
                        //todo
                    } else if (tab.find('a').attr('href') == '#tabFinish' && @((Model.AboutYouAfter != null && Model.AboutYouAfter.Questions.Any()).ToString().ToLower()) == true) {
                        $('.after-question').show();
                        $('.thanks-text').hide();
                        $('#rootwizard .finish').show();
                    } else {
                        $('.thanks-text').show();
                    }
                },
                onTabClick: function(tab, navigation, index) {
                    var valid = true;
                    $(tab.find('a').attr('href') + ' input[required], #question-options select[required], '
                        + tab.find('a').attr('href')+' textarea.required').each(function (i) {
                            if ($(this).val() == null || $(this).val().length == 0) {
                                $(this).parent().addClass('has-error');
                                $(this).focus();
                                if($(this).prop("tagName").toLowerCase() == "textarea") {
                                    $('#cke_' + $(this).attr('id')).attr('style', 'border-color: #b94a48');
                                    $('#cke_' + $(this).attr('id')).focus();
                                }
                                valid = false;
                            }
                            else {
                                $(this).parent().removeClass('has-error');
                                if($(this).prop("tagName").toLowerCase() == "textarea") {
                                    $('#cke_' + $(this).attr('id')).attr('style', '');
                                }
                            }
                        });
                    if(!valid) { return false;}
                    $('.pager').show();
                }
            });

            $('#rootwizard .finish').click(function () {
                //$('#saveData').submit();
                $('.after-question').hide();
                $('.thanks-text').show();
                $('#rootwizard .finish').hide();
                $('.pager').hide();
            });
            $('.search-companies').on('keyup', function(ev) {
                var _id = $(ev.target).attr('data-id');
                $('.left-companies-' + _id).find('.company-prew').each(function(index, el) {
                    if($(el).text().toLowerCase().indexOf($(ev.target).val().toLowerCase()) == -1) {
                        $(el).hide();
                    } else {
                        $(el).show();
                    }
                });
            });
        });
    </script>
}