@using DynamicSurvey.Server.ViewModels
@model DynamicSurvey.Server.ViewModels.Surveys.EditSurveyViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var editSurveyMenuViewModel = new EditSurveyMenuViewModel
    {
        EditSurveyMenu = EditSurveyMenu.SurveyOptions,
        SurveyTemplateId = Model.Id
    };
}

@{ Html.RenderPartial("_EditSurveyMenu", editSurveyMenuViewModel); }

<div class="portlet light bordered form-fit">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-equalizer font-green-haze"></i>
            <span class="caption-subject font-green-haze bold uppercase">General Survey Information</span>
        </div>
    </div>
    <div class="portlet-body form">
        <form action="@Url.Action("EditSurvey")" method="POST" enctype="multipart/form-data" class="form-horizontal form-row-seperated">
            <input name="Id" type="hidden" value="@Model.Id" />
            <div class="form-body">
                @{
                    var isTemplateNameValid = ViewData.ModelState.IsValidField("TemplateName");
                    string templateNameErrorMessage = null;
                    if (!isTemplateNameValid)
                    {
                        templateNameErrorMessage = ViewData.ModelState["TemplateName"].Errors.First().ErrorMessage;
                    }
                }
                <div class="form-group @if (!isTemplateNameValid)
                                       {<text>has-error</text>}">
                    <label class="control-label col-md-3">Survey Name: <span class="required">*</span></label>
                    <div class="col-md-9">
                        <input name="TemplateName" type="text" class="form-control" value="@Model.TemplateName" />
                        @if (!isTemplateNameValid)
                        {
                            <span class="help-block">
                                @templateNameErrorMessage
                            </span>
                        }
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Language: <span class="required">*</span></label>
                    <div class="col-md-9">
                        <select name="LanguageId" class="form-control">
                            @foreach (var language in Model.Languages)
                            {
                                <option value="@language.Id" @if (language.Id == Model.LanguageId) { <text> selected="selected" </text>  }>
                                    @language.Name
                                </option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Survey introduction (optional):</label>
                    <div class="col-md-9">
                        <textarea name="IntroductionText" id="surveyIntroduction" class="form-control" rows="5">@Model.IntroductionText</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Thank you text (optional):</label>
                    <div class="col-md-9">
                        <textarea name="ThankYouText" id="surveyThankYouText" class="form-control" rows="5">@Model.ThankYouText</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Landing page text:</label>
                    <div class="col-md-9">
                        <textarea name="LandingPageText" id="surveyLandingPageText" class="form-control" rows="5">@Model.LandingPageText</textarea>
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-offset-3 col-md-9">
                        <button type="submit" class="btn green">
                            <i class="fa fa-pencil"></i>Edit
                        </button>
                        <button type="button" class="btn default">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Plugins
{
    <script src="~/Content/theme/assets/global/plugins/ckeditor/ckeditor.js" type="text/javascript"></script>
    <script src="~/Content/theme/assets/global/plugins/ckeditor/adapters/jquery.js" type="text/javascript"></script>
}

@section Scripts
{
    <script src="~/Scripts/EditSurvey.js" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            EditSurvey.init();
        });
    </script>
}
