@using DynamicSurvey.Server.ViewModels
@model DynamicSurvey.Server.ViewModels.Surveys.EditSurveyViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ Html.RenderPartial("_EditSurveyMenu", EditSurveyMenu.SurveyOptions); }

<div class="portlet light bordered form-fit">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-equalizer font-green-haze"></i>
            <span class="caption-subject font-green-haze bold uppercase">General Survey Information</span>
        </div>
        <div class="actions">
            <a href="javascript:;" class="btn btn-circle btn-default btn-sm">
                <i class="fa fa-pencil"></i> Edit
            </a>
            <a href="javascript:;" class="btn btn-circle btn-default btn-sm">
                <i class="fa fa-plus"></i> Add
            </a>
        </div>
    </div>
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form action="@Url.Action("EditSurvey")" method="POST" enctype="multipart/form-data" class="form-horizontal form-row-seperated">
            <input name="Id" type="hidden" value="@Model.Id" />
            <div class="form-body">
                <div class="form-group">
                    <label class="control-label col-md-3">Survey Name: <span class="required">*</span></label>
                    <div class="col-md-9">
                        <input name="TemplateName" type="text" class="form-control" value="@Model.TemplateName" />
                        <span class="help-block"> This is inline help </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Language: <span class="required">*</span></label>
                    <div class="col-md-9">
                        <select name="LanguageId" class="form-control">
                            @foreach (var language in Model.Languages)
                            {
                                <option value="@language.Id" @if (language.Id == Model.LanguageId) { <text> selected="selected" </text>   }>@language.Name</option>
                            }
                        </select>
                        <span class="help-block"> Select your gender. </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Survey introduction (optional):</label>
                    <div class="col-md-9">
                        <textarea name="IntroductionText" id="surveyIntroduction" class="form-control" rows="5">@Model.IntroductionText</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Thank you text (optional):</label>
                    <div class="col-md-9">
                        <textarea name="ThankYouText" id="surveyThankYouText" class="form-control" rows="5">@Model.ThankYouText</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Landing page text:</label>
                    <div class="col-md-9">
                        <textarea name="LandingPageText" id="surveyLandingPageText" class="form-control" rows="5">@Model.LandingPageText</textarea>
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-offset-3 col-md-9">
                        <button type="submit" class="btn green">
                            <i class="fa fa-pencil"></i>Edit
                        </button>
                        <button type="button" class="btn default">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
        <!-- END FORM-->
    </div>
</div>

@section Plugins
{
    <script src="~/Content/theme/assets/global/plugins/ckeditor/ckeditor.js" type="text/javascript"></script>
    <script src="~/Content/theme/assets/global/plugins/ckeditor/adapters/jquery.js" type="text/javascript"></script>
}

@section Scripts
{
    <script src="~/Scripts/EditSurvey.js" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            EditSurvey.init();
        });
    </script>
}
