@using DynamicSurvey.Server.ViewModels
@model DynamicSurvey.Server.ViewModels.Surveys.EditRespondentViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var editSurveyMenuViewModel = new EditSurveyMenuViewModel
    {
        EditSurveyMenu = EditSurveyMenu.AboutRespondent,
        SurveyTemplateId = Model.SurveyTemplateId
    };
}

@{ Html.RenderPartial("_EditSurveyMenu", editSurveyMenuViewModel); }

<input type="hidden" id="questionAction" value="@Model.QuestionAction" />
@if (Model.QuestionAction != null)
{
    Html.RenderPartial("_EditQuestion", Model.EditQuestionViewModel);
}

<div class="portlet light bg-inverse form-fit">
    <div class="portlet-body form">
        <div class="form-horizontal form-bordered form-row-stripped">
            <div class="form-body">
                @foreach (var question in Model.Questions)
                {
                    <div class="row">
                        <div class="col-md-offset-10 col-md-2">
                            <a href="@Url.Action("EditRespondent", "Surveys", new {questionAction = QuestionAction.Add, surveyTemplateId = Model.SurveyTemplateId, insertPosition = question.DisplayOrder})" class="btn btn-sm green">
                                Insert Question
                                <i class="fa fa-plus"></i>
                            </a>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-1">
                            <span class="label label-primary">@question.DisplayOrder</span>
                        </div>
                        <div class="col-md-9 question-block">
                            @Html.Raw(question.Question)
                            @if (question.Format == QuestionFormat.Text)
                            {
                                if (question.Rows <= 1)
                                {
                                    <input type="text" class="form-control" />
                                }
                                else
                                {
                                    <textarea class="form-control" rows="@question.Rows"></textarea>
                                }
                            }
                            else if (question.Format == QuestionFormat.ChoiceAcross)
                            {
                                if (question.AllowMultipleValues)
                                {
                                    <div class="checkbox-list">
                                        @foreach (var answerChoice in question.AnswerChoices)
                                        {
                                            <label class="checkbox-inline">
                                                <input type="checkbox" @if (answerChoice.IsDefault) { <text> checked="checked" </text>  } />
                                                @answerChoice.Text
                                            </label>
                                        }
                                    </div>
                                }
                                else
                                {
                                    <div class="radio-list">
                                        @foreach (var answerChoice in question.AnswerChoices)
                                        {
                                            <label class="radio-inline">
                                                <input name="answer-choice-@question.QuestionId" type="radio" @if (answerChoice.IsDefault) { <text> checked="checked" </text>  } />
                                                @answerChoice.Text
                                            </label>
                                        }
                                    </div>
                                }
                            }
                            else if (question.Format == QuestionFormat.ChoiceDown)
                            {
                                if (question.AllowMultipleValues)
                                {
                                    <div class="checkbox-list">
                                        @foreach (var answerChoice in question.AnswerChoices)
                                        {
                                            <label>
                                                <input type="checkbox" @if (answerChoice.IsDefault) { <text> checked="checked" </text>  } />
                                                @answerChoice.Text
                                            </label>
                                        }
                                    </div>
                                }
                                else
                                {
                                    <div class="radio-list">
                                        @foreach (var answerChoice in question.AnswerChoices)
                                        {
                                            <label>
                                                <input name="answer-choice-@question.QuestionId" type="radio" @if (answerChoice.IsDefault) { <text> checked="checked" </text>  } />
                                                @answerChoice.Text
                                            </label>
                                        }
                                    </div>
                                }
                            }
                            else if (question.Format == QuestionFormat.DropDown)
                            {
                                <select class="form-control input-medium">
                                    <option>Select ...</option>
                                    @foreach (var answerChoice in question.AnswerChoices)
                                    {
                                        <option>@answerChoice.Text</option>
                                    }
                                </select>
                            }
                            else if (question.Format == QuestionFormat.Slider)
                            {
                                    <div class="basic-form__line">
                                        <div class="basic-form__ansvers">
                                            <div class="basic-range">
                                                <center>
                                                    <span class="range">1</span>
                                                </center>
                                                @if (Model.EditQuestionViewModel.ShowValue) {<span class="list-inline">@Model.EditQuestionViewModel.ExtremePointLeft</span>}
                                                else {<span style="visibility:hidden">@Model.EditQuestionViewModel.ExtremePointLeft</span>} 
                                                <input type="range"
                                                       min="@Model.EditQuestionViewModel.MinimumValue"
                                                       max="@Model.EditQuestionViewModel.MaximumValue"
                                                       value="1"
                                                       step="@Model.EditQuestionViewModel.Resolution"
                                                       onchange="showValue(this)" />
                                                <span>@Model.EditQuestionViewModel.ExtremePointRight</span>
                                                <script type="text/javascript">
                                                    var showValue = function (currentSlider) {
                                                        $($($(currentSlider).parent().children()[0]).children()[0]).html($(currentSlider).val());
                                                        //document.getElementByClassName("range").innerHTML = newValue;
                                                    }
                                                </script>
                                            </div>
                                        </div>
                                    </div>
                            }
                            else if (question.Format == QuestionFormat.Matrix)
                            {
                                if (Model.EditQuestionViewModel.MatrixMultiple)
                                {
                                    <div class="row">
                                        <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1"></div>
                                        @foreach (var col in Model.EditQuestionViewModel.MatrixColumns)
                                        {
                                            if (!string.IsNullOrWhiteSpace(col.Text))
                                            {
                                                <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1">@col.Text</div>
                                            }
                                        }
                                    </div>
                                    foreach (var row in Model.EditQuestionViewModel.MatrixRows)
                                    {
                                        if (!string.IsNullOrWhiteSpace(row.Text))
                                        {
                                            <div class="row">
                                                <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1">@row.Text</div>
                                                @foreach (var col in Model.EditQuestionViewModel.MatrixColumns)
                                                {
                                                    if (!string.IsNullOrWhiteSpace(col.Text))
                                                    { 
                                                        <div><input name="@row.Text" type="checkbox" /></div>
                                                    }
                                                }
                                            </div>
                                        }
                                    }
                                }
                                else if (!Model.EditQuestionViewModel.MatrixMultiple)
                                {
                                    <div class="row" style="text-align: center;">
                                        <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1"></div>
                                        @foreach (var col in Model.EditQuestionViewModel.MatrixColumns)
                                        {
                                            if (!string.IsNullOrWhiteSpace(col.Text))
                                            {
                                                <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1">@col.Text</div>
                                            }
                                        }
                                    </div>
                                
                                    foreach (var row in Model.EditQuestionViewModel.MatrixRows)
                                    {
                                        if (!string.IsNullOrWhiteSpace(row.Text))
                                        {
                                            <div class="row" style="text-align: center;">
                                                <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1">@row.Text</div>
                                                @foreach (var col in Model.EditQuestionViewModel.MatrixColumns)
                                                {
                                                    if (!string.IsNullOrWhiteSpace(col.Text))
                                                    {
                                                        <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1"><input name="@row.Text" type="radio" /></div>
                                                    }
                                                }
                                            </div>
                                        }
                                    }
                                }
                            }

                        </div>
                        <div class="col-md-2">
                            @if (question != Model.Questions.First())
                            {
                                <div class="row row-margin-bottom-5">
                                    <form method="post" action="@Url.Action("MoveQuestion", "Surveys", new {surveyTemplateId = Model.SurveyTemplateId, questionId = question.QuestionId, moveUp = true})">
                                        <button type="submit" class="btn btn-xs blue btn-align-text-left btn-width-80">
                                            <i class="fa fa-arrow-up"></i>
                                            Move up
                                        </button>
                                    </form>
                                </div>
                            }
                            <div class="row row-margin-bottom-5">
                                <form method="post" action="@Url.Action("DuplicateQuestion", "Surveys", new {surveyTemplateId = Model.SurveyTemplateId, questionId = question.QuestionId})">
                                    <button type="submit" class="btn btn-xs blue btn-align-text-left btn-width-80">
                                        <i class="fa fa-plus"></i>
                                        Duplicate
                                    </button>
                                </form>
                            </div>
                            <div class="row row-margin-bottom-5">
                                <a class="btn btn-xs green btn-align-text-left btn-width-80" href="@Url.Action("EditRespondent", "Surveys", new {questionAction = QuestionAction.Edit, surveyTemplateId = Model.SurveyTemplateId, questionId = question.QuestionId})">
                                    <i class="fa fa-edit"></i>
                                    Edit
                                </a>
                            </div>
                            <div class="row row-margin-bottom-5">
                                <form method="post" action="@Url.Action("DeleteQuestion", "Surveys", new {surveyTemplateId = Model.SurveyTemplateId, questionId = question.QuestionId})">
                                    <button type="submit" class="btn btn-xs red btn-align-text-left btn-width-80">
                                        <i class="fa fa-trash"></i>
                                        Delete
                                    </button>
                                </form>
                            </div>
                            @if (question != Model.Questions.Last())
                            {
                                <div class="row row-margin-bottom-5">
                                    <form method="post" action="@Url.Action("MoveQuestion", "Surveys", new {surveyTemplateId = Model.SurveyTemplateId, questionId = question.QuestionId, moveUp = false})">
                                        <button type="submit" class="btn btn-xs blue btn-align-text-left btn-width-80">
                                            <i class="fa fa-arrow-down"></i>
                                            Move down
                                        </button>
                                    </form>
                                </div>
                            }
                        </div>
                    </div>
                }
                <div class="row">
                    <div class="col-md-offset-10 col-md-2">
                        <a href="@Url.Action("EditRespondent", "Surveys", new {questionAction = QuestionAction.Add, surveyTemplateId = Model.SurveyTemplateId})" class="btn btn-sm green">
                            Insert Question
                            <i class="fa fa-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Plugins
{
    <script src="~/Content/theme/assets/global/plugins/ckeditor/ckeditor.js" type="text/javascript"></script>
    <script src="~/Content/theme/assets/global/plugins/ckeditor/adapters/jquery.js" type="text/javascript"></script>
}

@section Scripts
{
    <script src="~/Scripts/EditRespondent.js" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            EditRespondent.init();
        });
    </script>
}
