@model  DynamicSurvey.Server.ViewModels.SurveysViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Users</h2>

<table>
    <tr>
        <th> @Html.Label("Language") </th>
        <th> @Html.Label("Title") </th>
        <th> @Html.Label("Action") </th>
        @*<th> @Html.Label("Pages count") </th>
            <th> @Html.Label("Responds count") </th>*@
    </tr>
    @foreach (var u in Model.Surveys)
    {
        <tr>
            <td> @Html.Label(u.Language)</td>
            <td> @Html.Label(u.Title)</td>
            <td> @Html.ActionLink("Details", "Details", new { sourceId = u.Id })</td>
            <td> @Html.ActionLink("Copy", "CopySurvey", new { sourceId = u.Id })</td>
            <td> @Html.ActionLink("Answers", "Index", "Answers", new { surveyId = u.Id }, null)</td>
        </tr>
    }
</table>

@*<div class="pager">
        @Html.PageLinks(Model.Filter.Pager, x => Url.Action("Index", new { page = x }));
    </div>*@
